//RESPONSIVE LAYOUT
@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
    .banner-welcome {
      visibility: hidden;
    }
    .widget {
      width: 75%;
    }
    .user-dashboard {
      @include basic-flex(row wrap)
    }
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
    .banner-welcome {
      visibility: visible;
    }
    .widget {
      max-width: 220px;
      min-height: 100px;
      max-height: 400px;
    }
    .user-dashboard {
      @include basic-flex(row wrap)
    }
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
    .banner-welcome {
      visibility: visible;
    }
    .widget {
      min-width: 20%;
      height: auto;
      max-height: 90%;
    }
    .user-dashboard {
      @include basic-flex(column wrap)
    }
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
    .banner-welcome {
      visibility: visible;
    }
    .widget {
      width: 20%;
      max-height: 100%;
    }
    .user-dashboard {
      @include basic-flex(column wrap)
    }
  }
}

//FONTS
@mixin regular-font {
  font-family: 'Raleway';
  font-weight: 400;
}

@mixin light-font {
  font-family: 'Raleway';
  font-weight: 100;
}

@mixin bold-font {
  font-family: 'Raleway';
  font-weight: 600;
}

//STRUCTURE
@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin margin-bottom-top($bottom, $top) {
  margin-bottom: $bottom;
  margin-top: $top;
}

@mixin basic-flex($flow) {
  display: flex;
  flex-flow: $flow;
}

//STYLES
@mixin clay-border {
  border: 2px solid $clay;
  border-radius: 10px;
}

@mixin clay-hover {
  background-color: $transparent-clay;
  color: white;
  cursor: pointer;
}

@mixin button-defaults {
  background-color: $transparent-white;
  @include clay-border;
  color: $eggplant;
  margin: 5px;
  padding: 5px;
  &:hover {
    @include clay-hover;
  }
}

@mixin input-defaults {
  background-color: $transparent-white;
  @include clay-border;
  @include regular-font;
  font-size: 16px;
  height: 30px;
  margin: 5px;
}

@mixin approve-and-deny-buttons($url) {
  background-color: transparent;
  background-image: $url;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  margin: 2px;
  border-radius: 100%;
  border: none;
}
