//COLORS
$light-blue: #53849A;
$dark-blue: #083845;
$grey: #414951;
$clay: #BC7B5F;
$olive: #524825;
$eggplant: #544042;
$transparent-white: rgba(255, 255, 255, 0.75);
$transparent-clay: rgba(187, 121, 93, 0.75);

//BREAKPOINTS
$screen-xs: 0px;
$screen-sm: 815px;
$screen-md: 900px;
$screen-lg: 1200px;
