@import 'variables';
@import 'mixins';


html {
  height: 100vh;
  @include regular-font;
}

body {
  background-color: $light-blue;
  background-image: url(../images/login-background.jpg);
  color: $eggplant;
  @include no-margin-padding;
  height: 100vh;
}

header {
  background-color: transparent;
  @include basic-flex(row nowrap)
  height: 15%;
  margin: 0;
  padding: 1em 1em 1em 4%;
  position: fixed;
  text-align: left;
  width: 100%;
}

main {
  align-items: center;
  @include basic-flex(row wrap)
  height: 100%;
  justify-content: space-around;
}

h1 {
  color: $eggplant;
  font-size: 2em;
  @include no-margin-padding;
}

h3 {
  margin-top: 0px;
}

.compass {
  height: 2.3em;
  margin: 0 5px;
}

.pin {
  height: 1em;
}

.login-form {
  align-items: center;
  background-color: $transparent-white;
  @include clay-border;
  @include basic-flex(column nowrap)
  height: 350px;
  justify-content: space-around;
  margin: 0;
  padding: 1em;
  width: 300px;
}

.login-input {
  background-color: $transparent-white;
  @include clay-border;
  font-size: 16px;
  height: 30px;
  margin: 5px;
  width: 75%;
}

label, button {
  font-size: 18px;
  @include bold-font;
}

.submit-button {
  background-color: $transparent-white;
  @include clay-border;
  color: $eggplant;
  margin: 5px;
  padding: 5px;
  width: 30%;
  &:hover {
    @include clay-hover;
  }
}

.hidden {
  color: $clay;
  display: none;
  @include bold-font;
}

.home-button {
  background: url('../images/compass.png') no-repeat;
  background-size: contain;
  border: none;
  height: 2em;
  margin: 0 5px;
  width: 2em;
}

.error-message {
  @include clay-border;
  padding: 1em;
  width: 75%;
}

.user-dashboard {
  align-items: center;
  background-color: $transparent-white;
  @include basic-flex(row wrap)
  height: 75%;
  justify-content: space-around;
  margin: 5% 0% 2% 0%;
  padding: 1em;
  width: 100%;
}

.traveler-info {
  background-color: $transparent-white;
  @include clay-border;
  @include basic-flex(column nowrap);
  height: 170px;
  margin: 0;
  padding: 1em;
  width: 150px;
}

.bold {
  @include bold-font;
  margin: 0;
}

.info {
  @include margin-bottom-top(4px, 0)
}

.space {
  @include margin-bottom-top(10px, 10px)
}
