@import 'variables';
@import 'mixins';
@import 'agency-dashboard-styles';
@import 'traveler-dashboard-styles';
@import 'login-styles';

//UNIVERSAL
html {
  @include xs;
  @include sm;
  @include md;
  // @include lg;
  // @include xl;
}

body {
  @include regular-font;
  background-color: $light-blue;
  background-image: url("../images/login-background.jpg");
  background-attachment: fixed;
  color: $eggplant;
  @include no-margin-padding;
  @include basic-flex(row wrap);
  justify-content: center;
  height: 100vh;
  width: 100%;
}

header {
  @include basic-flex(row wrap);
  background-color: transparent;
  height: 15%;
  margin: 0;
  padding: 1em 1em 1em 4%;
  position: fixed;
  top: 0;
  text-align: left;
  width: 100%;
  justify-content: space-between;
}

main {
  align-items: center;
  @include basic-flex(row wrap) justify-content: space-around;
}

button,
label {
  font-size: 18px;
  @include bold-font;
}

button {
  @include button-defaults;
}

h1 {
  color: $eggplant;
  font-size: 2em;
  @include no-margin-padding;
}

h3 {
  margin-top: 0;
}

.logo-h1-container {
  @include basic-flex(row nowrap);
  @include no-margin-padding;
}

.banner-welcome {
  @include margin-bottom-top(0, 0) margin-right: 5%;
}

.compass {
  height: 2.3em;
  margin: 0 5px;
}

.hidden {
  display: none;
}

.home-button {
  background: url("../images/compass.png") no-repeat;
  background-size: contain;
  border: none;
  height: 2em;
  margin: 0 5px;
  width: 2em;
}

.user-dashboard {
  align-items: flex-start;
  background-color: $transparent-white;
  @include basic-flex(column wrap)
  justify-content: space-around;
  margin-top: 15%;
  height: 85%;
  padding: 1em;
  width: 100vw;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
}

.bold {
  @include bold-font;
  margin: 0;
}

.info {
  @include margin-bottom-top(4px, 0)
}

.space {
  @include margin-bottom-top(10px, 10px)
}

.widget {
  background-color: $transparent-white;
  @include clay-border;
  @include basic-flex(column nowrap);
  padding: 1em;
  width: 20%;
  overflow: scroll;
  margin: 1em;
}
