@import 'variables';
@import 'mixins';


html {
  height: 100vh;
  @include regular-font;
}

body {
  background-color: $light-blue;
  background-image: url(../images/login-background.jpg);
  color: $eggplant;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin: 0;
  padding: 1em;
  text-align: left;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
}

main {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  color: $eggplant;
  font-size: 2em;
}

.compass {
  height: 2.3em;
  margin: 0 5px;
}

.pin {
  height: 1em;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 350px;
  border: 2px solid $clay;
  border-radius: 10px;
  padding: 1em;
  align-items: center;
  justify-content: space-around;
  background-color: $transparent-white;
  margin: 0;
}

.login-input {
  border: 2px solid $clay;
  border-radius: 10px;
  width: 75%;
  height: 30px;
  background-color: $transparent-white;
  margin: 5px;
  font-size: 16px;
}

label, button {
  font-size: 18px;
  @include bold-font;
}

.submit-button {
  border: 2px solid $clay;
  border-radius: 10px;
  width: 30%;
  background-color: $transparent-white;
  color: $eggplant;
  margin: 5px;
  padding: 5px;
  &:hover {
    background-color: $transparent-clay;
    color: white;
    cursor: pointer;
  }
}

.error {
  @include error-border;
}

.hidden {
  display: none;
  color: $clay;
  @include bold-font;
}
