//FONTS
@mixin regular-font {
  font-family: 'Raleway';
  font-weight: 400;
}

@mixin light-font {
  font-family: 'Raleway';
  font-weight: 100;
}

@mixin bold-font {
  font-family: 'Raleway';
  font-weight: 600;
}

//STRUCTURE
@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin margin-bottom-top($bottom, $top) {
  margin-bottom: $bottom;
  margin-top: $top;
}

@mixin basic-flex($flow) {
  display: flex;
  flex-flow: $flow;
}

//STYLES
@mixin clay-border {
  border: 2px solid $clay;
  border-radius: 10px;
}

@mixin clay-hover {
  background-color: $transparent-clay;
  color: white;
  cursor: pointer;
}

@mixin button-defaults {
  background-color: $transparent-white;
  @include clay-border;
  color: $eggplant;
  margin: 5px;
  padding: 5px;
  &:hover {
    @include clay-hover;
  }
}

@mixin input-defaults {
  background-color: $transparent-white;
  @include clay-border;
  font-size: 16px;
  height: 30px;
  margin: 5px;
}
