//COLORS
$light-blue: #53849A;
$dark-blue: #083845;
$grey: #414951;
$clay: #BC7B5F;
$olive: #524825;
$purple: #544042;
$transparent-white: rgba(255, 255, 255, 0.75);

//BREAKPOINTS
$screen-xs: 0;
$screen-sm: 500px;
$screen-md: 600px;
$screen-lg: 900px;
$screen-xl: 1200px;
